  *{
    margin: 0;
    padding: 0;
  }

  a { 
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    сolor: #ffffff;;
  }

  body{
    background: #111111;
    color: #ffffff;
  }

  #wrap{
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    background: #c0c0c0;
  }
  #header{
    width: 100%;
    height: 70px;
  }
  #nav{
    background: url(i/bg-nav.gif) #cc2b2b 100% 0 no-repeat;
    height: 70px;
    -moz-box-shadow:0 0 10px #000;
    -webkit-box-shadow:0 0 10px #000;
    box-shadow:0 0 10px #000;
  }
    #nav ul{
      list-style-type: none;
      float: right;
    }
      #nav li{
        display: inline-block;
      }
        #nav a{
          text-decoration: none;
          color: #fff;
          font-weight: bold;
          margin-right: 15px;
          line-height: 20px;
          display: inline-block;
        }
  #head{
    background: #373737;
    height: 50px;
  }
  #logo{
    background: #36cf18;
    width: 45px;
    height: 45px;
  }
    #logo a{
      display: block;
      width: 100%;
      height: 100%;
    }

#osn{
  width: 1000px; /* Ширина таблицы */
  border: 1px solid black; /* Рамка вокруг таблицы */
  margin: 0 auto; /* Выравниваем таблицу по центру окна  */

}
#tbl{
  border-collapse: separate; /* Способ отображения границы */ 
  border-spacing: 7px 15px; /* Расстояние между ячейками */
  -moz-border-radius: 10px;
-webkit-border-radius: 10px;

}
#tblG{
  width: 800px; /* Ширина таблицы */
  border: 1px solid black; /* Рамка вокруг таблицы */
  margin: 0 auto; /* Выравниваем таблицу по центру окна  */
}

tr{
  -moz-box-shadow:0 0 5px #cc2b2b;
  -webkit-box-shadow:0 0 5px #cc2b2b;
  box-shadow:0 0 5px #cc2b2b ;
  -moz-border-radius: 10px;
-webkit-border-radius: 10px;
}

td{
  background: #000000
  -moz-box-shadow:0 0 5px #cc2b2b;
  -webkit-box-shadow:0 0 5px #cc2b2b;
  box-shadow:0 0 5px #cc2b2b;
  -moz-border-radius: 10px;
-webkit-border-radius: 10px;
}


#pg {
  transition: 0.5s;
  color: red;
  font-size: 11pt;
}

#pg:hover{
  transform: scale(1.1);
  font-size: 11pt;
}



